{% extends "base.html" %}
{% block title %}CategoryInduced{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="//tools.wmflabs.org/static/res/jquery-ui/1.11.1/jquery-ui.min.css" />
{% endblock %}
{% block content %}

    <h1 style="margin-top:1em;">CategoryInduced</h1>

    <p class='lead'>Select a collection category to see which categories were created thanks to it.</p>

    <form action="category-induced/submit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="category">Category:</label>
            <div class="input-group">
                <span class="input-group-addon">Category:</span>
                <input type="text" class="form-control" id="category-search" name="category" placeholder="110_ans_d'automobile_au_Grand_Palais_-_Supported_by_Wikimedia_France" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Compute</button>
    </form>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="//tools.wmflabs.org/static/res/jquery-ui/1.11.1/jquery-ui.min.js"></script>
    <script src="{{url_for('static', filename='commons-search.js')}}"></script>
{% endblock %}
