{% extends "base.html" %}
{% block title %}Easy FDC reporting{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="//tools.wmflabs.org/static/res/chosen/1.1.0/chosen.min.css" />
    <link rel="stylesheet" href="//tools.wmflabs.org/static/res/jquery-ui/1.11.1/jquery-ui.min.css" />
{% endblock %}
{% block content %}
    <h1 style="margin-top:1em;">Easy FDC report generation</h1>

    <p class='lead'>Select indicators and a category to track and generate the FDC report pieces</p>

    <form action="fdc/submit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="category-search">Category:</label>
            <div class="input-group">
                <span class="input-group-addon">Category:</span>
                <input type="text" class="form-control" id="category-search" name="category" placeholder="Media created by technology pool of Wikimedia Sverige" required="required"/>
            </div>

        </div>
        <div class="form-group">
            <h3>Indicators</h3>
            <span class="help-block">Indicators to report on.</span>
<label for="indicator-uploaders"><input type="checkbox" name="indicator-uploaders" id="indicator-uploaders">Number of uploaders</label><br/>
<label for="indicator-files"><input type="checkbox" name="indicator-files" id="indicator-files">Number of files uploaded</label><br/>
<label for="indicator-highlighted"><input type="checkbox" name="indicator-highlighted" id="indicator-highlighted">Number of highlighted files</label><br/>
<label for="indicator-highlighted_percentage"><input type="checkbox" name="indicator-highlighted_percentage" id="indicator-highlighted_percentage">Percentage of highlighted files</label><br/>
        </div>
            <h3>FDC round information</h3>
        <div class="form-group">

            <label for="year">FDC Year: </label>
            <select style="width:100px;" class="use-chosen" data-placeholder="Year" name="year" >
                <option>2013</option>
                <option selected='selected'>2014</option>
            </select>
        </div>
        <div class="form-group">
            <label for="round">FDC round: </label>
            <select style="width:100px;" class="use-chosen" data-placeholder="Round" name="round" >
            <option>1</option>
            <option>2</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Make report</button>
    </form>
{% endblock %}

{% block javascript %}
{{ super() }}
    <script src="//tools.wmflabs.org/static/res/chosen/1.1.0/chosen.jquery.min.js"></script>
    <script src="{{url_for('static', filename='commons-search.js')}}"></script>
    <script type="text/javascript">$('.use-chosen').chosen({search_contains: true});</script>
{% endblock %}
