{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>wm-metrics</h1>
  <p class='lead'>Welcome to wm_metrics − tools for Wikimedia program leaders</p>
  <p>We build tools to analyse collections of content on Wikimedia Commons and highlight the awesome work of volunteers.</p>

      <div class="well">
      <dl class="dl-horizontal">
          <dt><a href='./fdc'>FDC reporting</a></dt>
              <dd>Easily generate FDC reports of given indicators</dd>
          <dt><a href='./category-induced'>Category Induced</a></dt>
              <dd>Measure the categories induced by a collection</dd>
      </dl>
      </div>
{% endblock %}
